$orange: #f9b43b;
$red: #e45028;
$black: #2f3234;
$gray: #2f3234;

$desktop: 1200px;
$laptop: 992px;
$tablets: 768px;
$phones: 480px;


@import "../base/media.scss";

@import "./fonts.scss";
@import "./normalize.scss";
@import "./base.scss";
@import "../blocks/screen-head.scss";
@import "../blocks/screen-menu.scss";
@import "../blocks/hero.scss";
@import "../blocks/header.scss";
@import "../blocks/button.scss";
@import "../blocks/best.scss";
@import "../blocks/range.scss";
@import "../blocks/team.scss";
@import "../blocks/reviews.scss";
@import "../blocks/menu.scss";
@import "../blocks/order.scss";
@import "../blocks/map.scss";
@import "../blocks/yandex.scss";
@import "../blocks/footer.scss";
@import "../blocks/socials.scss";
@import "../blocks/hamburger-menu.scss";


