.best {
  background: center center / cover no-repeat url('../../image/background/best_bg.png');
  color: $black;
  text-align: center;
}

.strengths {
  display: flex;
  margin: 0;
  padding-top: 33px;
}

.strengths__list {
  display: flex;
  margin: 0;
}



.strengths__item {
  display: inline-flex;
  width: 32%;
  flex-direction: column;
  margin-right: 19px;
  
  
  &:last-child {
    margin-right: 0;
  }
}

.strengths__icon {
  margin-bottom: 28px;
}

.strengths__item-head {
  font-family: lifehack;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.6px;
  line-height: 29px;
  margin-bottom: 14px;
}

.strengths__item-text {
  margin: 0;
  font-family: ubuntu;
  font-size: 14px;
  font-weight: 100;
  color: $black;
  line-height: 24.07px;
}