.button {
  display: inline-block;
  font-family: ubuntu;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  background-color: $red;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}