.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__buttons {
  padding-bottom: rem(9px); 
}

.navigation {
  display: inline-block;
  margin-right: rem(10px);
  @include tablets() {
    display: none;
  }
}

.navigation__list {

  font-family: ubuntu;
  font-size: rem(13px);
  font-weight: 500;
  text-transform: uppercase;
  padding-inline-start: 0px;
  
}

.navigation__item {
  display: inline-flex;
  align-items: center;
  margin-right: rem(14px); 
  &:after {
    content: "";
    display: inline-block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background-color: #fff;
    margin-left: rem(14px);
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
}

.navigation__link {
  color: #fff;
  text-decoration: none;
  
}
