.hero {
  background: center center / cover no-repeat url('../../image/background/hero_bg.png');
}

.hero__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hero__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.75;
}


.hero__description,
.hero__burger {
  width: 50%;
}

.hero__burger {
  text-align: right;
}

.hero__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 13px 0;
}

.hero__description-text {
  display: block;
  font-family: lifehack;
  font-size: 65px;
  text-transform: lowercase;
  line-height: 61px;
  color: #fff;
  // margin-top: 10px: correction # 6
  letter-spacing: -1.63px;
}