.reviews {
  background-color: $black;
  
}

.reviews__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;


}

.reviews__item {
  display: inline-block;
  width: 25%;
  height: 50%;
  background: center no-repeat / cover ;
  filter: grayscale(100);
}

.head-cut {
  background: -60px center no-repeat / cover;
}


.reviews__content {
  height: 100%;
  padding: 50px 20px;
  color: #fff;
  background: rgba(#000, .5);
  transition: opacity 1s;
  opacity: 0;
    &:hover {
    opacity: 100;
  }
}

.reviews__content-head {
  font-family: gagalin;
  font-size: 14px;
  margin-bottom: 14px; //correction
}

.rewiews__content-text {
  font-family: ubuntu;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin: 0; //correction
  margin-bottom: 14px; //correction
}