.team {
  background: center / cover no-repeat url('../../image/team/team_bg.png');
  position: relative;
}

.team__screen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  background: rgba($gray, .93);

  @include tablets {
    width: 100%;
  }
}

.team__content {
  padding-left: rem(70px);

  @include tablets {
    text-align: center;
    padding: 0 rem(10px);
  }
}

.team__accordeon-item {
  margin-bottom: rem(40px);

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets {
    margin-bottom: 0;
  }

  @include phones {
    margin-bottom: rem(10px);
  }
}

.item__active {
  color: #fff;
  .team__accordeon-name {
    color: $orange;
    &:before {
      transform: rotate(180deg);
    }
  }
}
  .team__accordeon-name {
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: rem(14px);
    margin-bottom: rem(40px);

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: rem(-18px);
      top: rem(27px);
      width: 0;
      height: 0;
    }

    &:before {
      border-top: rem(7px) solid $orange;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
      border-bottom: 0px solid transparent;
      transform: rotate(0deg);
      transition: .3s;
    }

    &:after {
      display: none;
      border-bottom: rem(7px) solid $orange;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
      border-top: 0px solid transparent;
    }

    @include tablets {
      margin-bottom: 0;
      font-size: rem(25px);
    }
    .team__accordeon-description {
     height: 100%; 
    }

  }


.team__accordeon-description {
    display: flex;
    flex: 1;
    overflow: hidden;
    height: 0;
    width: 100%;
    font-family: Ubuntu;
    font-size: rem(14px);
    @include tablets {
      align-items: center;
      flex-direction: column;
  }
}

.item__active {
  .team__accordeon-description {
    height: 100%;
  }
}


.team__accordeon-icon {
  text-align: center;
}

.team__accordeon-pic {
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
}

.team__accordeon-content {
  text-align: left;
  padding-left: rem(14px);
  width: 70%;

  @include tablets {
    text-align: center;
  }
}

.team__accordeon-position {
  font-weight: 500;
  margin-bottom: rem(14px);
}

.team__accordeon-text {
  font-weight: 300;
}